{%
  set classes = [
    'node',
    'node-detail',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<!-- Start Display article for teaser page -->
{% if view_mode == 'teaser' %} 
  <div class="post-block teaser-1">
    <div class="post-image">
      {{ content.field_image }}
      <div class="post-created"> 
        <span class="day">{{ node.getCreatedTime()|date("d") }}</span>
        <span class="month">{{ node.getCreatedTime()|date("M") }}</span>
      </div>
    </div>
    <div class="post-content">
      <div class="content-inner">
        <div class="post-meta">
          <span class="post-author"><i class="fas fa-user-circle"></i>{{ author_name }}</span>
          <span class="post-comment"><i class="fas fa-comments"></i>{{ comment_count }} {{ 'Comments'|t }}</span>
        </div>
        <h3 class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3> 
        <a class="read-more" href="{{ url }}">
          <span>{{ 'Read More'|t }}</span>
          <i class="icomoon-right-arrow2"></i>
        </a>          
      </div>
    </div>
  </div>

{% elseif view_mode == 'teaser_2' %} 
  <div class="post-block teaser-2">
    <div class="content-wrap">
      <div class="post-content">
          <div class="post-meta">
            <div class="avatar">
              <i class="fas fa-user-circle"></i>
            </div>
            <div class="content-inner">
              <span class="post-author"><i class="fas fa-user-circle"></i>{{ author_name }}</span>
              <span class="post-comment"><i class="fas fa-comments"></i>{{ comment_count }} {{ 'Comments'|t }}</span>
            </div>
          </div>
          <h3 class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3>    
          <div class="post-desc">{{ content.body }}</div>   
          <a class="read-more" href="{{ url }}">
            <span>{{ 'Read More'|t }}</span>
            <i class="icomoon-right-arrow2"></i>
          </a>      
      </div>
      <div class="post-image">
        {{ content.field_image }}
        <div class="post-created"> 
          <span class="day">{{ node.getCreatedTime()|date("d") }}</span>
          <span class="month">{{ node.getCreatedTime()|date("M") }}</span>
        </div>
      </div>
    </div>
  </div>

  {% elseif view_mode == 'teaser_3' %} 
  <div class="post-block teaser-3">
    <div class="post-image">
      {{ content.field_image }}
      <div class="post-created"> 
        <span class="day">{{ node.getCreatedTime()|date("d") }}</span>
        <span class="month">{{ node.getCreatedTime()|date("M") }}</span>
      </div>
    </div>
    <div class="post-content">
        <div class="post-meta">
          <span class="post-author"><i class="fas fa-user-circle"></i>{{ author_name }}</span>
          <span class="post-comment"><i class="fas fa-comments"></i>{{ comment_count }} {{ 'Comments'|t }}</span>
        </div>
        <h3 class="post-title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3>            
    </div>
  </div>
  

<!-- End Display article for teaser page -->
{% else %}
<!-- Start Display article for detail page -->

<article{{ attributes.addClass(classes) }}>
  <div class="post-block">
      
    <div class="post-thumbnail post-{{ post_format }}">
      {% if post_format == 'video' or post_format == 'audio' and gva_iframe %}
        {{ gva_iframe|raw }}
      {% elseif post_format == 'gallery' and content.field_post_gallery %}
        {{ content.field_post_gallery }}
      {% else %}
        {{ content.field_image }}
      {% endif %}  
    </div>

    <div class="post-content">
      
      <div class="post-meta">
          <span class="post-author"><i class="fas fa-user-circle"></i>{{ author_name }}</span>
          <span class="post-categories"><i class="fas fa-folder-open"></i>{{ content.field_post_category }}</span>
      </div> 
      {{ title_prefix }}
         <h1{{ title_attributes.addClass('post-title') }}>{{ label }}</h1>
      {{ title_suffix }} 
      {% if display_submitted %}
        <div class="node__meta hidden">
          {{ author_picture }}
          <span{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </span>
          {{ metadata }}
        </div>
      {% endif %}

      <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
        {{ content|without('field_image','field_post_category', 'field_post_format', 'field_post_type', 'field_post_embed', 'field_post_gallery', 'comment') }}
      </div>
      {% if content.comment %}
        <div id="node-single-comment">
          {{ content.comment }}
        </div>
      {% endif %}  

    </div>

  </div>

</article>

<!-- End Display article for detail page -->
{% endif %}