{%
  	set classes = [
	 	'node',
	 	'node--type-' ~ node.bundle|clean_class,
	 	node.isPromoted() ? 'node--promoted',
	 	node.isSticky() ? 'node--sticky',
	 	not node.isPublished() ? 'node--unpublished',
	 	view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
	 	'clearfix',
  	]
%}

<!-- Start Display article for teaser page -->

{% if view_mode == 'teaser' %}

  	<div class="portfolio-v1">  
  		<div class="portfolio-images">
			  	{{ content.field_portfolio_images }}
			  	<a class="link" href="{{ url }}"></a>
			</div>    
	 	<div class="content">
			<div class="content-inner">
				<div class="category">{{content.field_portfolio_tags}}</div>
				<h3 class="title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3>
			 	<span class="arrow"><i class="fas fa-arrow-right"></i></span>
			</div>
	 	</div>
  	</div>

{% elseif view_mode == 'teaser_2' %}

  	<div class="portfolio-v2">  
  		<div class="portfolio-images">
			  	{{ content.field_portfolio_images }}
			  	<a class="link" href="{{ url }}"></a>
			</div>    
	 	<div class="content">
			<div class="content-inner">
				<div class="category">{{content.field_portfolio_tags}}</div>
				<h3 class="title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h3>
			</div>
			<a href="{{ url }}" class="arrow"><i class="fas fa-arrow-right"></i></a>
	 	</div>
  	</div>

{% elseif view_mode == 'teaser_3' %}
	{% set body %}{{content.body}}{% endset %}
 	<div class="portfolio-v3 portfolio-item">      
		<div class="portfolio-images">
		  	{{ content.field_portfolio_images }}
		  	<div class="read-more"><a class="link" href="{{ url }}"><span>{{ 'Read More'|t }}</span></a></div>
		</div>
		<div class="content">
		  	<div class="content-inner">
			 	<div class="category">{{ content.field_portfolio_tags }}</div>
			 	<div class="content-inner">
					<h3 class="title"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h3>    
					<div class="desc">{{ body|striptags }}</div>
			 	</div>    
		  	</div>
		</div>
 	</div>

{% elseif view_mode == 'teaser_4' %}
	<div class="portfolio-v4">      
	 	<div class="portfolio-content">
			<div class="portfolio-images">
			  	{{ content.field_portfolio_images }}
			  	<a class="link" href="{{ url }}"><i class="fa fa-link"></i></a>
			</div>
			<div class="content-inner">
			  	<div class="portfolio-information">
				 	<h2 class="title"> <a href="{{ url }}" rel="bookmark">{{ label }}</a> </h2>
				 	<div class="category">{{content.field_portfolio_tags}}</div>
			  	</div>    
			</div>
	 	</div>
  </div>
{% else %}

<!-- Start Display article for detail page -->
{% set xcol = "col-md-12 col-sm-12 col-xs-12"  %}
{% if informations %}
  {% set xcol = "col-md-6 col-sm-12 col-xs-12"  %}
{% endif %} 

<article{{ attributes.addClass(classes) }}>
  	<div class="header-title">
	 	<div class="container">
			<h2 class="title"><span>{{ label }}</span></h2>
	 	</div>
		</div>     
	<div{{ content_attributes.addClass('node__content', 'clearfix') }}>
	  	{{ content|without('field_portfolio_images', 'field_portfolio_tags', 'comment') }}
	</div>
	{% if content.comment %}
		<div id="node-single-comment">
		 	<div id="comments">
			 	{{ content.comment }}
		  	</div>  
		</div>
	{% endif %}
</article>

<!-- End Display article for detail page -->
{% endif %}