{%
	set classes = [
		'node',
		'node-detail',
		'node--type-' ~ node.bundle|clean_class,
		node.isPromoted() ? 'node--promoted',
		node.isSticky() ? 'node--sticky',
		not node.isPublished() ? 'node--unpublished',
		view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
		'clearfix',
	]
%}
   
  <!-- Start Display doctor for detail page -->
  
  <div class="doctor-block-two">
    <div class="inner-box">
        <div class="left-column col-md-8">
            <div class="row">
                <div class="image col-md-4">{{ content.field_doctor_profile_pic }}</div>
                <div class="content col-md-8">
                    <h4>
                        <a href="#">{{ content.field_doctor_name }}</a>
                    </h4>
                    <div class="designation">{{ content.field_doctor_specialty }}</div>
                    <div class="rating">
                        {{ content.field_doctor_rating }}
                        <span></span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="right-column col-md-4">
            <div class="content-two">
                <ul class="list">
                    <li><i class="fas fa-map-marker-alt"></i> تهران</li>
                    <li><i class="fas fa-award"></i> سال تجربه</li>
                </ul>
                <div class="link-btn">
                    <a href="doctor-details.html" class="theme-btn">ویزیت</a>
                </div>
            </div>

        </div>
        <hr/>
        <div class="row">
            <div class="inner-box">

            {{ drupal_region('user1') }}
            </div>
        </div>

    </div>

    <div class="gsc-tabs">
        <div class="tabs_wrapper tabs_">
            <ul class="nav nav-tabs">
                <li><a class="active show" data-bs-toggle="tab" href="#desc1">درباره</a></li>
                <li><a data-bs-toggle="tab" href="#reviews1">نظرات کاربران</a></li>
                <li><a data-bs-toggle="tab" href="#cert1">گواهینامه</a></li>
            </ul>
            <div class="tab-content">
                <div id="desc1" class="tab-pane fade show active">
                    <p>{{ content.body }}</p>
                </div>
               
                <div id="reviews1" class="tab-pane fade">{{ content.field_doctor_reviews }}</div>
                <div id="cert1" class="tab-pane fade">{{ content.field_doctor_certificates }}</div>
            </div>
        </div>
    </div>
</div>
