{%
	set classes = [
		'node',
		'node-detail',
		'node--type-' ~ node.bundle|clean_class,
		node.isPromoted() ? 'node--promoted',
		node.isSticky() ? 'node--sticky',
		not node.isPublished() ? 'node--unpublished',
		view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
		'clearfix',
	]
%}
  <!-- Start Display doctor for teaser page -->
   
  <!-- Start Display doctor for detail page -->
  
  <div class="clinic-details-content doctor-details-content">
    <div class="clinic-block-one">
        <div class="inner-box">
            <figure class="image-box">{{content.field_doctor_profile_pic}}</figure>
            <div class="content-box">
                <div class="like-box"><a href="doctors-details.html"><i class="far fa-heart"></i></a></div>
                <div class="share-box">
                    <a href="doctors-details.html" class="share-btn"><i class="fas fa-share-alt"></i></a>
                </div>
                <ul class="name-box clearfix">
                    <li class="name"><h2>            {{ content.field_doctor_name}}                    </h2></li>
                    <li><i class="icon-Trust-1"></i></li>
                    <li><i class="icon-Trust-2"></i></li>
                </ul>
                <span class="designation">{{content.field_doctor_specialty}}</span>
                <div class="rating-box clearfix">
                    {{content.field_doctor_rating}}
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectur adipisc eiusmod tempor incididunt.</p>
                </div>
                <div class="lower-box clearfix">
                    <ul class="info clearfix">
                        <li><i class="fas fa-map-marker-alt"></i>G87P, Birmingham, UK</li>
                        <li><i class="fas fa-phone"></i><a href="tel:2265458856">+(22) 65_458_856</a></li>
                    </ul>
                    <div class="view-map"><a href="doctors-details.html">View Map</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-box">
        <div class="tab-btn-box centred">
            <ul class="tab-btns tab-buttons clearfix">
                <li class="tab-btn active-btn" data-tab="#tab-1">درباره</li>
                <li class="tab-btn" data-tab="#tab-2">تجربه ها</li>
                <li class="tab-btn" data-tab="#tab-3">کلینیک ها</li>
                <li class="tab-btn" data-tab="#tab-4">نظرات</li>
            </ul>
        </div>
        <div class="tabs-content">
            <div class="tab active-tab" id="tab-1">
                <div class="inner-box">
                    <div class="text">
                    {{contetn.field_doctor_profile_pic}}
                    </div>
                    <div class="accordion-box">
                        <h3>خدمات</h3>
                        {{content.field_doctor_services	}}
                    </div>
                    <div class="award-box">
                        <h3>گواهینامه ها</h3>
                    
                    </div>
                </div>
            </div>
            <div class="tab" id="tab-2">
                <div class="experience-box">
                  
                </div>
            </div>
            <div class="tab" id="tab-3">
                <div class="location-box">
                    <h3>مطب ها</h3>
                    
                </div>
            </div>
            <div class="tab" id="tab-4">
                <div class="review-box">
                    <h3>{{content.field_doctor_name}}</h3>
                    <div class="rating-inner">
                        {{content.field_doctor_rating}}
                        </div>
                        <div class="rating-pregress">
                            <div class="single-progress">
                                <span class="porgress-bar"></span>
                                <div class="text"><p><i class="icon-Star"></i>5 Stars</p></div>
                            </div>
                            <div class="single-progress">
                                <span class="porgress-bar"></span>
                                <div class="text"><p><i class="icon-Star"></i>4 Stars</p></div>
                            </div>
                            <div class="single-progress">
                                <span class="porgress-bar"></span>
                                <div class="text"><p><i class="icon-Star"></i>3 Stars</p></div>
                            </div>
                            <div class="single-progress">
                                <span class="porgress-bar"></span>
                                <div class="text"><p><i class="icon-Star"></i>2 Stars</p></div>
                            </div>
                            <div class="single-progress">
                                <span class="porgress-bar"></span>
                                <div class="text"><p><i class="icon-Star"></i>1 Stars</p></div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
