{% 
	set classes = [
		'node',
		'node-detail',
		'node--type-' ~ node.bundle|clean_class,
		node.isPromoted() ? 'node--promoted',
		node.isSticky() ? 'node--sticky',
		not node.isPublished() ? 'node--unpublished',
		view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
		'clearfix',
	]
%}

<!-- Start Display doctor for detail page -->
{% set doctor_status = node.field_doctor_status.value %}

<div class="row justify-content-center position-relative">
    {% if doctor_status == '0' %}
        <!-- Gray overlay for inactive doctors -->
        <div class="inactive-overlay">
            <span class="inactive-text">پروفایل این پزشک فعال نیست</span>
        </div>
    {% endif %}
    
    <div class="col-lg-4 col-md-12">
        <div class="doctor-details-image">
            {{ content.field_doctor_profile_pic }}
        </div>
        <hr>
        <div class="col-xl-12 col-md-12 d-none d-lg-block">
               <div id="doctor-contact-form" class="doctor-contact-form">{{ drupal_region('user4') }}</div>
            <div class="doctor-details-sidebar">
                <h3>ویژگی‌ها و صلاحیت‌ها</h3>
                <ul class="info-list">
                    <li>
                        <h4>تحصیلات و تخصص‌ها</h4>
                        {{ content.field_doctor_specialty }}
                    </li>
                 </ul>
                 <hr>
                <h3>خدمات درمانی</h3>
                <ul class="info-list">
                    <li>
                        <h5>خدمات درمانی</h5>
                        {{ content.field_doctor_services }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-lg-8 col-md-12">
        <div class="doctor-details-top-content">
            <div class="rating">
                {{ content.field_doctor_rating }}
            </div>
            <div class="doctors-main-info">
                <h2>{{ content.field_doctor_name }}</h2>
                <div class="doctos-specialty">{{ content.field_doctor_specialty }}</div>
                <div class="doctors-reg-info">{{ content.field_doctor_reg_code }}</div>
            </div>
            
            <ul class="list">
                {% for tel in content.field_doctor_tel %}
                {% if tel['#markup'] is not empty %}
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>
                            <a href="tel:{{ tel['#markup'] }}">{{ tel['#markup'] }}</a>
                        </span>
                    </li>
                {% endif %}
            {% endfor %}


                
                <li>
                    <i class="fa fa-map-pin"></i>
                    <span>{{ content.field_doctor_address }}</span>

                </li>
            </ul>
            
            <a href="/online-help" class="default-btn">
                <i class="fa fa-arrow-right"></i>
                {{ 'Start Triage'|t }}
            </a>
        </div>

        <div class="row justify-content-center">
            <div class="col-xs-12 d-block d-sm-none">
                <div class="doctor-details-sidebar">
                    <h3>ویژگی‌ها و صلاحیت‌ها</h3>
                    <ul class="info-list">
                        <li>
                            <h5>تحصیلات و تخصص‌ها</h5>
                            {{ content.field_doctor_specialty }}
                        </li>
                     </ul>
                    <h3>خدمات درمانی</h3>
                    <ul class="info-list">
                        <li>
                            <h5>خدمات درمانی</h5>
                            {{ content.field_doctor_services }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-xl-12 col-md-12">
                <div class="doctor-details-desc">
                    <div class="content">
                        <h3>{{ content.field_doctor_name }}</h3>
                        {{ content.body }}
                    </div>
                </div>
                <div class="doctor-testimonial-card">
                    <div class="quote">
                        <img src="{{ file_url(directory ~ '/images/quote.svg') }}" alt="{{ 'Quote'|t }}"/>
                    </div>
                    {{ drupal_region('user3') }}
                </div>

               <div id="doctor-contact-form" class="doctor-contact-form">{{ drupal_region('user4') }}</div>

            </div>
        </div>
    </div>
</div>

{{ drupal_view('clinic_info_doctor_detail', 'clinic_info', 'field_doctor_practices_target_id') }}
{#  
<div class="gsc-tabs">
    <div class="tabs_wrapper tabs_">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#clinics1">{{ 'کلینیک‌ها و مراکز درمانی'|t }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#reviews1">{{ 'ارسال نظر'|t }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#cert1">{{ 'گواهینامه‌ها'|t }}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="clinics1" class="tab-pane fade show active">{{ drupal_region('user2') }}</div>
            <div id="reviews1" class="tab-pane fade">{{ content.field_doctor_reviews }}</div>
            <div id="cert1" class="tab-pane fade">{{ content.field_doctor_certificates }}</div>
        </div>
    </div>
    #}
</div>
