{%
	set classes = [
		'node',
		'node-detail',
		'node--type-' ~ node.bundle|clean_class,
		node.isPromoted() ? 'node--promoted',
		node.isSticky() ? 'node--sticky',
		not node.isPublished() ? 'node--unpublished',
		view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
		'clearfix',
	]
%}
   
  <!-- Start Display doctor for detail page -->
<div class="row justify-content-center">
	<div class="col-lg-4 col-md-12">
		<div class="doctor-details-image">
			{{ content.field_doctor_profile_pic }}
		</div>
        <hr>
        	<div class="col-xl-12 col-md-12">
				<div class="doctor-details-sidebar">
					<h3>
						ویژگی‌های و صلاحیت ها</h3>
					<ul class="info-list">
						<li>
							<h5>تحصیلات و تخصص ها
							</h5>
						</li>
						<li>
							<h5>مدارک
							</h5>
						</li>
						
					</ul>
				</div>
			</div>
	</div>
	<div class="col-lg-8 col-md-12">
		<div class="doctor-details-top-content">
			<div class="title">
				<h2>{{ content.field_doctor_name }}</h2>
				<span>{{ content.field_doctor_specialty }}</span>
			</div>
			<ul class="list">
				<li>
					<i class="fab fa-phone"></i>
					<span>تلفن:
						<a href="tel:">+98 </a>
					</span>
				</li>
				
				<li>
					<i class="fab fa-map-pin"></i>
					<span>نشانی:

					</span>
				</li>
			</ul>
			<a href="/online-help" class="default-btn">
				<i class="fa fa-arrow-right"></i>
                    شروع تریاژ آنلاین
			</a>
			<ul class="social-box">
				<li>
					<a href="#" target="_blank">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
				<li>
					<a href="#" target="_blank">
						<i class="ti ti-brand-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="row justify-content-center">
			<div class="col-xl-12 col-md-12">
				<div class="doctor-details-desc">
					<div class="content">
						<h3>درباره  {{ content.field_doctor_name }}</h3>
	                        {{ content.body }}
					</div>
					<div class="swiper quote-slider swiper-initialized swiper-horizontal swiper-autoheight swiper-backface-hidden">
					
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>


    <div class="gsc-tabs">
        <div class="tabs_wrapper tabs_">
            <ul class="nav nav-tabs">
                <li><a data-bs-toggle="tab" href="#reviews1">نظرات کاربران</a></li>
                <li><a data-bs-toggle="tab" href="#cert1">گواهینامه</a></li>
            </ul>
            <div class="tab-content">               
                <div id="reviews1" class="tab-pane fade">{{ content.field_doctor_reviews }}</div>
                <div id="cert1" class="tab-pane fade">{{ content.field_doctor_certificates }}</div>
            </div>
        </div>
    </div>
</div>
